logfile = /path/to/log/address_sync.log

dbtable = mymig.address_sync

# Path to archive output files
archive = /path/to/archive

# This needs to match actor.org_unit.shortname
# This is how the query gets only data for that system/branch
# comma separated list of branch/system shortnames, case insensitive

scopedlibs = SYS1

# Include descendants?
# any value here is considered "yes"
# comment out to remove
include_org_descendants = 1

filenameprefix = sys1

# If enabled, the output file(s) will be tar.gz
# uncomment to enable
# compressoutput = 1

#
# SFTP Server to drop off
#
# Transfer method. SFTP is the only supported method

transfermethod = sftp

ftphost = remote.example.com
ftplogin = remotelogin
ftppass = remotepass
remote_directory = /remote/path

emailsubjectline = address sync export results

# only 1 email address for alwaysemail
alwaysemail = noreply@example.com

fromemail = noreply@example.com
erroremaillist = noreply@example.com
successemaillist = noreply@example.com
